/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.has-audio .menu__link::after {
  content: "🔊";
  margin-left: 5px;
}

.has-photo .menu__link::after {
  content: "📸";
  margin-left: 5px;
}

.has-photo.has-audio .menu__link::after {
  content: "🔊📸";
  margin-left: 5px;
}

.sci_name {
  font-style: italic;
  color: lightgray;
  font-size: smaller;
}

.sci_name::before {
  content: "\A"; 

  white-space: pre; 
}

.tripReport {
  padding-top: 10px;
  border-left: 5px solid;
  border-image: linear-gradient(180deg, #3acfd5 0%, #3a4ed5 100%) 1;
  margin-bottom: 30px;

}